[submodule "lib/mezzanine-agenda"]
	path = lib/mezzanine-agenda
	url = https://github.com/yomguy/mezzanine-agenda.git
[submodule "lib/mezzanine"]
	path = lib/mezzanine
	url = https://github.com/yomguy/mezzanine.git
[submodule "var"]
	path = var
	url = git+ssh://git@git.forge.ircam.fr/manifeste-2017-data.git
