setuptools
uwsgi
watchdog
mysqlclient
psycopg2
django==1.9.11

-e git+https://github.com/yomguy/mezzanine.git@jquery#egg=mezzanine-4.2-dev
-e git+https://github.com/yomguy/grappelli-safe.git@dynamic_stacked#egg=grappelli-safe-0.4.2
-e git+https://github.com/yomguy/cartridge.git#egg=cartridge-0.12-dev
-e git+https://github.com/yomguy/mezzanine-agenda.git#egg=mezzanine-agenda-0.2.2
-e git+https://github.com/Ircam-Web/mezzanine-organization.git@split#egg=mezzanine-organization-1.0
-e git+https://github.com/Ircam-Web/mezzanine-organization-themes.git#egg=mezzanine-organization-themes-1.0
