setuptools
uwsgi
mysqlclient
psycopg2

-e git+https://github.com/yomguy/grappelli-safe.git@dynamic_stacked#egg=grappelli-safe-0.4.2
-e git+https://github.com/yomguy/cartridge.git#egg=cartridge-0.12-dev
